h4.title{
  color: #ffffff;
  margin-left: 30px;
}

p.title{
  color: #ffffff;
  margin-left: 15px;
}

p.subtitle{
  color: #ffffff;
  text-align: left;
  margin-left: 20px;
}

p.title-tickets{
  color: #81CFED;
  margin-left: 30px;
}

div.main{
  background: #000D1B;
}

p.content{
  color: #808080;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}

p.sub-content{
  color: #808080;
  text-align: left;
  margin: 0px;
  margin-left: 10px;
  font-size: 10px;
}

p.ticket-footer{
  color: #ffffff;
  text-align: center;
  margin: 15px;
  font-size: 11px;
}
